@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}


.overlay::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text h1, p {
  z-index: 2;
}

.section-text{
  color: white;
  font-size: 25px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  
  
}
.section-list li::before{
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  font-size: 2rem;
  position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    color: #07edc1;
}
.section-list{
  counter-reset: item;
}
.bullet li::marker{
  font-size: 1rem;

}